/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



/**********************************************************
***********************************************************
************************************************************
***********************************************************/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Gobold Bold';
  src:url('../fonts/Gobold Bold.ttf');
  src:url('../fonts/Gobold Light.ttf');
  src:url('../fonts/Gobold Thin.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gobold bold', sans-serif;
  background-color: #00968D;
  letter-spacing: 0.1em;
}

.popup {
  background-color: #FFF;
  width: 42em;
  height: 28em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  z-index: 6;
  margin-top: 5em;
  margin-left: 20em;
  position: fixed;
  z-index: 6;
  display: none;
}

.title {
  border-bottom: 5px solid #a4dbe0;
  position: relative;
  width: 100%;
  height: 4em;
}

#icono-popup {
  width: 20%;

}

#icono-popup img {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

#titulo-popup {
  width: 100%;
  position: relative;
}

#titulo-popup h1 {
  text-align: center;
  color: #00B6B7;
}

#contenido-popup {
  height: 97%;
  width: 90%;
  position: relative;
  left: 5%;
  top: 3%;
}


.contenedor {
  width: 550px;
  height: 180px;
  background-image: url('../img/contenedor.png');
  position: absolute;
  top: 3em;
  left: 3em;
}

#nueve {
  position: relative;
  font-size: 9em;
  width: 80px;
  left: 0.4em;
  color: #FFF;
}

#pasos-ctin {
  color: white;
  font-size: 3em;
  text-align: center;
  position: relative;
  width: 8em;
  bottom: 3.2em;
  left: 2.8em;
}

#sorprenderte {
  font-size: 3em;
  color: #E5BD13;
}

#todos {
  font-size: 2em;
  color: red;
}

#pmv {
  font-size: 2em;
  color: #00968D;
  text-align: center;
}
/*Circulitos*/
#idea {
  width: 15em;
  left: 36em;
  position: absolute;
  top: 17em;
}

#circulo1 {
  position: relative;
  width: 2em;
  height: 2em;
  background-color: #FFF;
  border-radius: 100%;
  top: 1.6em;
  left: -0.6em;
}

#circulo1 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-idea {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-idea img {
  left: 0.8em;
  position: relative;
  top: 0.6em;
}

#cuadro-idea {
  position: relative;
  background-color: #FFF;
  width: 9em;
  height: 1.6em;
  bottom: 6.6em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-idea {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: 6.5em;
}

#proyecto {
  width: 15em;
  left: 36em;
  position: absolute;
  top: 30em;
}

#circulo2 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo2 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-proyecto {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-proyecto img {
  left: 1.3em;
  position: relative;
  top: 0.6em;
}

#cuadro-proyecto {
  position: relative;
  background-color: #FFF;
  width: 15em;
  height: 1.6em;
  bottom: 6.6em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-proyecto {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: 6.5em;
}

#negocios {
  width: 15em;
  left: 36em;
  position: absolute;
  top: 43em;
}

#circulo3 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo3 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-negocios {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-negocios img {
  left: 0.7em;
  position: relative;
  top: 0.7em;
}

#cuadro-negocios {
  position: relative;
  background-color: #FFF;
  width: 9em;
  height: 1.6em;
  bottom: 6.6em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-negocios {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: 6.5em;
}

#arquitectura {
  width: 15em;
  left: 36em;
  position: absolute;
  top: 56em;
}

#circulo4 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo4 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-arquitectura {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-arquitectura img {
  left: 0.75em;
  position: relative;
  top: 0.4em;
}

#cuadro-arquitectura {
  position: relative;
  background-color: #FFF;
  width: 12em;
  height: 1.6em;
  bottom: 6.6em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-arquitectura {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: 6.5em;
}

#matadero {
  width: 15em;
  left: 17em;
  position: absolute;
  top: 43em;
}

#circulo5 {
  position: relative;
  width: 2em;
  height: 2em;
  background-color: #FFF;
  border-radius: 100%;
  top: 1.6em;
  left: 5.4em;
}

#circulo5 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-matadero {
  background-color: #F5893D;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-matadero img {
  left: 0.7em;
  position: relative;
  top: 0.7em;
}

#cuadro-matadero {
  position: relative;
  background-color: #FFF;
  width: 9.5em;
  height: 1.6em;
  bottom: 6.6em;
  left: -6em;
  z-index: -1;
  transform: skew(30deg);
}

#textos-matadero {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: -5em;
}

#usuario {
  width: 15em;
  left: 45em;
  position: absolute;
  top: 69em;
}

#circulo6 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo6 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-usuario {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
  bottom: -21px;
}

#circulo-usuario img {
  left: 0.75em;
  position: relative;
  top: 0.4em;
}

#cuadro-usuario {
  position: relative;
  background-color: #FFF;
  width: 16em;
  height: 1.6em;
  bottom: 5.1em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-usuario {
  position: relative;
  color: #00968D;
  bottom: 6.5em;
  left: 6.5em;
}

#disenio {
  width: 15em;
  left: 31em;
  position: absolute;
  top: 82em;
}

#circulo7 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo7 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-disenio {
  background-color: #E5BD13;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: absolute;
  left: 583px;
  bottom: 969px;
}

#circulo-disenio img {
  left: 0.5em;
  position: relative;
  top: 0.6em;
}

#cuadro-disenio {
  position: relative;
  background-color: #FFF;
  width: 9em;
  height: 1.6em;
  bottom: 63.9em;
  left: 40em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-disenio {
  position: relative;
  color: #00968D;
  bottom: 65.3em;
  left: 43.5em;
}

#joker {
  width: 15em;
  left: 58em;
  position: absolute;
  top: 82em;
}

#circulo8 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo8 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-joker {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
  left: 21px;
  top: 155px;
}

#circulo-joker img {
  left: 0.6em;
  position: relative;
  top: 0.6em;
}

#cuadro-joker {
  position: relative;
  background-color: #FFF;
  width: 9em;
  height: 1.6em;
  bottom: -3.7em;
  left: 6em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-joker {
  position: relative;
  color: #00968D;
  bottom: -2.3em;
  left: 9.5em;
}

#calidad {
  width: 15em;
  left: 45em;
  position: absolute;
  top: 95em;
}

#circulo9 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo9 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-calidad {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
  right: 205px;
  bottom: 60px;
}

#circulo-calidad img {
  left: 1.2em;
  position: relative;
  top: 0.6em;
}

#cuadro-calidad {
  position: relative;
  background-color: #FFF;
  width: 16em;
  height: 1.6em;
  bottom: 9.9em;
  left: -11em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-calidad {
  position: relative;
  color: #00968D;
  bottom: 11.3em;
  left: -6.5em;
}

#producto {
  width: 15em;
  left: 45em;
  position: absolute;
  top: 109em;
}

#circulo10 {
   position: relative;
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 100%;
    top: 1.6em;
    left: -0.6em;
}

#circulo10 p {
  position: relative;
  left: 0.7em;
  top: 0.5em;
  color: #00968D;
}

#circulo-producto {
  background-color: #9ED7D4;
  width: 6em;
  border-radius: 100%;
  height: 6em;
  border: 5px solid #FFF;
  position: relative;
}

#circulo-producto img {
  left: 1.6em;
  position: relative;
  top: 0.7em;
}

#cuadro-producto {
  position: relative;
  background-color: #FFF;
  width: 11em;
  height: 1.6em;
  bottom: 6.6em;
  left: 3em;
  z-index: -1;
  transform: skew(150deg);
}

#textos-producto {
  position: relative;
  color: #00968D;
  bottom: 8em;
  left: 6.5em;
}

/*CUADRO ITERAR*/
#cuadro-iterar {
  position: absolute;
  width: 22em;
  top: 106em;
  left: 1em;
}

#iterar-titulo {
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  background-color: #65B475;
}

#iterar-texto {
  color: #FFF;
  text-align: justify;
}



/***ITERAR*/
#iterar{
  border-radius: 100%;
  width: 450px;
  background-color: #9DC766;
  height: 450px;
  border: 10px solid #65B475;
  position: absolute;
  left: 35em;
  z-index: -5;
  top: 73em;
} 

#it1 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it2 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it3 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it4 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it5 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it6 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it7 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it8 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it9 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it10 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

#it11 {
  color: #BDDA7E;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  top: 1.5em;
}

/**LINEASS BLANCAS PEDORRAS :C***/
#punta-flecha {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FFF;
  position: absolute;
  top: 35em;
  left: 29em;
}

#punta-flecha1 {
  border-top: 11px solid #fff;
  border-right: 9px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 111em;
  left: 70em;
}

#linea1 {
  width: 23em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  margin-top: 35.5em;
  margin-left: 6.2em;
}

#linea2 {
  background-color: white;
  height: 29px;
  width: 4px;
  position: absolute;
  top: 35.5em;
  left: 6.1em;
}

#dislike {
  width: 2em;
  position: absolute;
  top: 38em;
  left: 5.3em;
}

#linea3 {
  background-color: #FFF;
  height: 132px;
  width: 4px;
  position: absolute;
  top: 40.4em;
  left: 6.1em;
}

#linea4 {
  width: 31em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  top: 48.4em;
  left: 6.1em;
  z-index: -2;
}

#linea5 {
  background-color: #FFF;
  height: 348px;
  width: 4px;
  position: absolute;
  top: 23em;
  left: 39.1em;
  z-index: -2;
}

#linea6 {
  background-color: #FFF;
  width: 4px;
  position: absolute;
  height: 56px;
  z-index: -2;
  left: 20.2em;
  top: 51em;  
}

#linea7 {
  width: 7em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  top: 54.5em;
  left: 20.2em;
}

#like {
  width: 2em;
  position: absolute;
  top: 53.3em;
  left: 27.5em;
}

#linea8 {
  background-color: #FFF;
  width: 4px;
  position: absolute;
  height: 89px;
  z-index: -2;
  left: 28.5em;
  top: 56em;
}

#linea9 {
  width: 19.5em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  top: 61.5em;
  left: 28.5em;
  z-index: -2;
}

#linea10 {
  background-color: #FFF;
  width: 4px;
  position: absolute;
  height: 793px;
  z-index: -6;
  left: 48em;
  top: 61.5em;
}

#linea11 {
  background-color: #FFF;
  width: 4px;
  position: absolute;
  height: 1400px;
  z-index: -6;
  left: 70.5em;
  top: 23.5em;
}

#linea12 {
  background-color: #FFF;
  height: 168px;
  width: 4px;
  position: absolute;
  top: 90em;
  left: 34.1em;
  z-index: -2;
}

#linea13 {
  background-color: #FFF;
  height: 29px;
  width: 4px;
  position: absolute;
  top: 90.5em;
  left: 61.1em;
}

#linea14 {
  width: 20em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  top: 92.1em;
  left: 41.4em;
}

#linea15 {
  background-color: #FFF;
  height: 135px;
  width: 4px;
  position: absolute;
  top: 92.1em;
  left: 41.2em;
}

#linea16 {
  width: 15em;
  color: #FFF;
  height: 4px;
  border-color: #FFF;
  background-color: #FFF;
  position: absolute;
  top: 100.5em;
  left: 34.1em;
  z-index: -2;
}

#linea17 {
  background-color: #FFF;
  height: 141px;
  width: 4px;
  position: absolute;
  top: 103em;
  left: 48.2em;
  z-index: -2;
}

#linea-punteada {
  width: 68em;
  height: 16px;
  position: absolute;
  top: 78em;
  left: 3%;
  border-bottom: 4px dashed #FFF;
}

#llave {

}

#cuadro-punteada {
  background-color: #00B6B7;
  width: 25em;
  position: absolute;
  height: 34px;
  top: 79.3em;
  left: 4em;
  vertical-align: middle;
}

#cuadro-punteada p {
  text-align: center;
  position: relative;
  top: 0.5em;
  color: #FFF;
}

#oportunidades {
  background-color: #00B6B7;
  width: 21em;
  height: 34px;
  position: absolute;
  top: 29em;
  left: 7em;
}

#oportunidades p {
  position: relative;
  color: #FFF;
  text-align: center;
  top: 0.5em;
}

#vida {
  width: 2em;
  position: absolute;
  top: 32em;
  left: 14em;
}

#x2 {
  position: absolute;
  top: 31em;
  left: 16.3em;
}

#x2 p {
  font-size: 3em;
  color: #FFF;
  position: relative;
}


/*****ANIMACIONES******/
.icono1:hover {
  -webkit-animation: tiembla 1s infinite;
  -moz-animation: tiembla 1s infinite;
}

@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}

@-moz-keyframes tiembla{
    0%  { -moz-transform:rotateZ(-5deg); }
    50% { -moz-transform:rotateZ( 0deg) scale(.8); }
    100%{ -moz-transform:rotateZ( 5deg); }
}








